<form class="form-auth" ng-submit="register()">
	<h2>Register</h2>
	<small>Account Details</small>
	<p class="text-warning">{{error_message}}</p>
	<input type="email" ng-model="user.email" placeholder="Email" class="form-control" required><br>
	<input type="username" ng-model="user.username" placeholder="Username" class="form-control" required><br>
	<input type="password" ng-model="user.password" placeholder="Password" class="form-control" required><br>
	<input type="aadhaarID" ng-model="user.aadhaarID" placeholder="AadhaarID" class="form-control" required><br>
	<!-- Citizen Details -->
	<br>
	<small>Citizen Details</small>
	<input type="gender" ng-model="user.gender" placeholder="Gender" class	="form-control" required><br>
	<input type="DOB" ng-model="user.DOB" placeholder="DOB" class="form-control" required><br>
	<input type="fname" ng-model="user.fname" placeholder="First Name" class="form-control" required><br>
	<input type="lname" ng-model="user.lname" placeholder="Last Name" class="form-control" required><br>
	<input type="primary_email" ng-model="user.primary_email" placeholder="Email Primary" class="form-control" required><br>
	<input type="DOD" ng-model="user.DOD" placeholder="DOD" class="form-control" required><br>


	<!-- <select ng-init="user.role = roles[0].name" ng-model="user.role" ng-options="role.name as role.name for role in roles" class="form-control" required></select><br> -->
	<input type="submit" value="Sign Up" class="btn btn-primary" />
</form>