<div>
    <h2>Your Details</h2>
    <h3>The details of you're profile</h3>
    
    <table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
      <tr class="bg-primary">
      <th scope="col">AadhaarID</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
    </tr>
  </tbody>
</table>




</div>
