<div>
    <h2>Contact Us</h2>
    <!-- <h3>Message</h3> -->
    <!-- <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address> -->
    <div class="col-md-offset-1">
    <address>
        <strong>Kannan:</strong> <a href="mailto:kannanmanism@gmail.com">kannanmanism@gmail.com</a><br />
        <strong>Raajesh:</strong> <a href="mailto:raajeshmani19@gmail.com">raajeshmani19@gmail.com</a><br />
        <strong>Murali:</strong> <a href="mailto:krishtna999@gmail.com">krishtna999@gmail.com</a>
    </address>
    </div>  
</div>