<div>
    <div class="jumbotron">
        <h1>Demographic Statistics</h1>
        <p class="lead">This project is designed to take a census and produce the demographic statistics from the given data</p>
        <img src="stats.jpg" style="max-height:30%; max-width: 30%;">
    </div>
    <div class="row">
        

        <div class="col-md-6 col-md-offset-1">
            <h2>Powered by MEAN</h2>
            <p>This website is fully implemented by MEAN </p>
            <p>
                <a class="btn btn-default" href="http://mean.io/">Learn More about MEAN &raquo;</a>
            </p>
        </div>
    </div>